@import "_variables.scss";

body {
  background: linear-gradient(45deg, $body-bg, $dark-blue);
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.online, .offline {
  margin-top: -15px!important;
  margin-bottom:15px;
  font-weight: bold;
}

.online {
  color: lime;
}

.offline {
  color: red;
}

.friends_row  {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}