body {
  background: linear-gradient(45deg, #651a93, #2e1992);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.online,
.offline {
  margin-top: -15px !important;
  margin-bottom: 15px;
  font-weight: bold;
}

.online {
  color: lime;
}

.offline {
  color: red;
}

.friends_row {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

