<template>
    <fragment>
        <div class="shadow-none p-1 col-md-4 mb-2 bg-white rounded profile__friends-item"
             v-for="(item,i) in items" :key="i">
            <div :class="'row' + ((item.is_closed === 1) ? 'close_profile' : '')" :id="item.id" :data-user-online="item.online">
                <div class="col-xs-4">
                    <img :src="item.photo_100" class="rounded-circle" alt="">
                </div>
                <div class="col">
                    <p>
                        <a :href="'https://vk.com/id' + item.id" target="_blank">
                            {{ item.first_name }} {{ item.last_name}}
                        </a>
                    </p>
                    <p class="online" v-if="item.online">Online</p>
                    <p class="offline" v-else>Offline</p>
                    <p>
                        <button type="button" class="btn btn-success">Написать</button>
                    </p>
                </div>
            </div>
        </div>
    </fragment>
</template>

<script>
    export default {
        name: "FriendsList",
        props: ['items']
    }
</script>