<template>
    <button type="button" @click="onload" class="btn btn-info">
        <img :src="text" width="30" alt="" />
    </button>
</template>

<script>
    export default {
        name: "LoadMore",
        props: ['onload', 'text']
    }
</script>